#insert_songs{

}
#play{
	position: absolute;
	left: 2%;
	top:2%;
	transition:all 0.5s ease;
}

#pause{
	position: absolute;
	left: 25%;
	top:2%;
	transition:all 0.5s ease;
}

#resume{
	position: absolute;
	left: 50%;
	top:2%;
	transition:all 0.5s ease;
}

#eject{
	position: absolute;
	left: 75%;
	top:2%;
	transition:all 0.5s ease;
}

/*#insert_songs{*/
	/*position: absolute;*/

	/*top:-9%;*/
	/*transition:all 0.5s ease;*/
/*}*/
#volume_speed{
	position: absolute;
	left: 60%;
	top:20%;
}

#volume_range{
	position: absolute;
	left: 12%;
	top:23%;
}

#fileWrapper{
	position: absolute;
	left: 15%;
	top: 140%;
	color: white;
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}
#visualizer_wrapper{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 2px;
	color:#aaa;
}

#canvas{
	position: absolute;
	left: 5%;
	top:30%;
	width: 400px;
	height: 130px;
	z-index: 1000;
}

#canvas:hover{
	opacity: 1!important;
}
#animation{
	position: absolute;
	right:-100;
	background-color: aqua;
	z-index: 1000;
}
#c{
	position: absolute;
	right: -100px;
}


.col_controls
{
	background-color:transparent;
	opacity: 0.8;
	z-index: 0;
}