/*html, body {*/
    /*margin: 0;*/
    /*font-family: arial, "Microsoft YaHei";*/
    /*background-color: white;*/
    /*color: darkblue;*/
/*}*/
#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 2px;
	color:#aaa;
}
#visualizer_wrapper{
	position: absolute;
	left: 37%;
	top:2%;
	width: 400px;
	height: 150px;
}
#canvas{
	position: absolute;
	top:-200px;
	left: 0;
}
#animation{
	position: absolute;
	right:0;
	background-color: aqua;
}
#c{
	position: absolute;
	right: -100px;
}