#bgDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

#infoPanel
{
    position: absolute;
    color: rgb(203,223,237);
    text-wrap: normal;
    padding-right: 1%;
    font-size: 20px;
    overflow: auto;
    width: 100%;

}
.info{
    position: absolute;
    top: 10px;
    left: 40%;
    width: 50px;
    height: 55px;
    padding: 0px;
}


#bgCanvas{
    width: 60%;
    z-index: -60;
    overflow: hidden;
    /*background-color: black;*/

}
#turntable{
    width: 60%;
    height: 100%;
    position: absolute;


}
#needle{
    /*background-color: blue;*/
    position: absolute;
    /*float: left;*/
    /*z-index: 200;*/
    left: 55%;
    top:17%;

}
#leftBackgroundImage {
    /*margin-left: -10px;*/
    margin-top: -10px;
    height: 100%;
    width: 15%;
    float: left;
    overflow: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}
#rightBackgroundImage {
    margin-top: -10px;
    height: 100%;
    float: right;
    z-index: -1;
}

#tracko{
    background-color: burlywood;
}
.song{
    position: relative;

}
#trackImage
{
    //position: absolute;

}
#disc
{
    z-index: 100;
    left:25%;
    top: 5%;
    width: 100px;
    position: absolute;
    color: white;
    text-align: center;

    font-size: 18px;
    font-weight: bold;
}
#disc_artist
{
    z-index: 100;
    left:25%;
    bottom:5%;
    width: 100px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.trackList{

    overflow-y: scroll ;
    overflow-x: hidden;
    z-index: 10;
    text-align: center;
    height: 100%;
    background-color: antiquewhite;
}
#player{
    width: 45%;
    height: 65%;
    position: absolute;
    left: 34%;
    top:8%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    overflow-y: scroll;
}
#controls{
    bottom: 0;
    left: 64%;
    position: absolute;
    width: 100%;
}
.yt
{
    bottom: 0;
    top:54%;
    position: absolute;
}
.col.controls{
    background-color: white;
    width: 40%;
    height: 200px;
    margin-bottom: 1.5%;
    margin-right: 1%;
    position: absolute;
    bottom: -1%;
    right: 0;
    font-size: 1.5em;

}
.recordCanvas{
    height: 80%;
    background: url("recordPlayer.png") no-repeat;
}
.col.trackList{
    width: 25%;

}
.col.player{
    width: 70%;
}
.row.container{
    width: 1000px;
    height: 810px;
    margin: 10%;
    position: relative;
    background-color: #aaaaaa;
}
.recordCanvas.trackList{
}
.col.ytPlayer
{
    width: 20%;
    position: absolute;
    left: 25%;
    bottom: 26%;
}
.yt
{
    border-width: 2px;
    border: cadetblue;
    border-style: solid;
}

