#bgDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

#infoPanel
{
    position: absolute;
    color: rgb(203,223,237);
    text-wrap: normal;
    padding-right: 1%;
    font-size: 20px;
    overflow: auto;
    width: 100%;

}
.info{
    position: absolute;
    top: 50px;
    left: 40%;
    width: 50px;
    height: 55px;
    padding: 0px;
}

.col.insertSongs{

    /*background-color: white;*/
    text-align: center;
    color: white;
    width: 100%;

}

.col.insertSongsFormList{
    margin-left: -25px;
    display: inline-block;

}


#bgCanvas{
    width: 60%;
    z-index: -60;
    overflow: hidden;
    /*background-color: black;*/

}
#turntable{
    width: 60%;
    height: 80%;
    position: absolute;


}
#needle{
    /*background-color: blue;*/
    position: absolute;
    /*float: left;*/
    /*z-index: 200;*/
    left: 55%;
    top:17%;

}
#leftBackgroundImage {
    /*margin-left: -10px;*/
    margin-top: -10px;
    height: 100%;
    width: 15%;
    float: left;
    overflow: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}
#rightBackgroundImage {
    margin-top: -10px;
    height: 100%;
    float: right;
    z-index: -1;
}

#tracko{
    background-color: burlywood;
}
.song{
    position: relative;

}
#trackImage
{
    //position: absolute;

}
#disc
{
    z-index: 100;
    left:25%;
    top: 5%;
    width: 100px;
    position: absolute;
    color: white;
    text-align: center;

    font-size: 18px;
    font-weight: bold;
}
#disc_artist
{
    z-index: 100;
    left:25%;
    bottom:5%;
    width: 100px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.trackList{

    overflow-y: scroll ;
    overflow-x: hidden;
    z-index: 10;
    text-align: center;
    height: 100%;
    /*background-color: #4f4f4f;*/
    padding-left: 2%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#player{
    width: 45%;
    height: 65%;
    position: absolute;
    left: 34%;
    top:8%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}
#controls{
    bottom: 0;
    left: 64%;
    position: absolute;
    width: 100%;
}
.yt
{
    bottom: -4.2em;

    position: absolute;
    border-width: 2px;
    border: cadetblue;
    border-style: solid;
    visibility: hidden;
}
.col.controls{
    background-color: white;
    width: 49%;
    height: 200px;
    margin-bottom: 1.5%;
    margin-right: 1%;
    position: absolute;
    bottom: 2.1%;
    right: 0;
    font-size: 1.5em;

}
.recordCanvas{
    height: 800px;
    background: url("recordPlayer.png") no-repeat;
}
.col.trackList{
    width: 25%;
    left: -1%;

}

.col.player{
    width: 70%;
    background-color: #0d0e0d;
    height: 100%;

}
.row.container{
    width: 1000px;
    height: 804px;
    margin: 10%;
    position: relative;
    border-width: 2px;
    border: white;
    border-style: solid;
    padding-bottom: 6.5%;
    background-color:rgba(255,255,255,0.5);


}

.col.ytPlayer
{
    width: 20%;
    position: absolute;
    left: 25%;
    bottom: 18.5%;

}


.col.addSong {
    height: 1.5em;
    border: solid;
    border-width: 5px;
    /*background-color: white;*/
    background-color:rgba(255,255,255,0.5);
    padding-left: 2%;
    padding-top: 2px;
    padding-bottom:2px;
    padding-right: -5px;
    text-align: right;
    display: inline-block;
    width: 99%;
}

body{
    background-position: center;
    background-size: 100% 100%;
    background-image: url("5549239.png");
    background-repeat: no-repeat;
    font-family: Arial;
}
.col.animation{

    padding-top: 2px;
    padding-bottom:4px;
    text-align: right;
    display: inline-block;
    width: 100%;
    color: white;

}