
#tracks {
    overflow-y: scroll;
    width: 200px;
    height: 500px;
}

#tracks #list {
    background-color: gray;
    display: block;


}

#tracko{
    background-color: burlywood;
}
.song{
}

#trackList{
    max-width: 200px;
    height: 600px;
    overflow-y: scroll ;
    overflow-x: hidden;
}
#player{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    position: absolute;
    left:65%;
    top: 50%;
    right:15%;
    overflow-y: scroll;
}